<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>growin</title>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/index.css">
</head>
<body>
  <% unless session[:user] %>
  <!--ログイン前-->
  <div class="form">
    <form action="/signin" method="POST">
      <input name="name" placeholder="メンバー名を入力"><br>
      <input name="password" type="password" placeholder="パスワードを入力"><br>
      <input type="submit" value="ログイン">
    </form>
    <a href="/sign_up" class="btn btn-default">はじめての時はこちら！</a>
  </div>
  <% else %>
  <!--ログイン後-->
  <h1>growin</h1>
    <p>こんにちは、<%= current_user.name %>さん！</p>
  <div>
    <p>目標：<%= @purpose %></p>
    <p>今のTMS：<%= @percent %></p>
    <img src="images/<%= @image_name %>.jpg">
  <form action="/signout" method="GET">
    <input type="submit" value="ログアウト">
  </form>
  <% end %>
</body>
</html>
