
<head>
  <meta charset="UTF-8">
  <title>growin signup</title>

  
    <link rel="stylesheet" href="/assets/css/signup.css">
    <!--<link rel="stylesheet" href="/assets/css/login.css">-->
    <link rel="icon" href="/images/logos/favicon.png">
    <meta name=”viewport” content=”width=device-width,initial-scale=1.0″>
</head>
<body>

<div class="base">
    <form action="/signup" method="POST">
        
            <div class="form" >
                <h2>新規登録</h2>
                <input name="name" placeholder="メンバー名を入力">
                <input name="password" type="password" placeholder="パスワードを入力">
                <input name="password_confirmation" type="password" placeholder="パスワードをもう一度入力">
                <input name="tms_url" placeholder="TMSのURLを入力">
                <input name="tms_title" placeholder="TMSの使っているシートのタブ名を入力">
            </div>
            <div class="form startbtn">
                <input id="start" type="submit" value="登録">
            </div>
    </form>
</div>
    
</body>