*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    color:#5D454B;
    
}
body{
    /* 全体の横幅 */
    width: 100%;
    height:100%;
    
    /* 全体を中央寄せ */
    margin: 0 auto;
    /* 全体の余白 */
    
    background-size: 100%;
    background-repeat: no-repeat;
    min-width :800px;
    background-color:#CDE5CF;
}

.wrapper{
    width:80%;
    margin-right:10%;
    margin-left:10%;
}

.login {
    margin: 240px auto 0;
    width: 100%;
   
}


.loginInfo {
    width: 480px;
    margin: 0 auto;
    height: 400px;
    padding: 30px;
    background-color: rgba(255,250,250,0.5);
    
}

form {
    width: 340px;
    margin: 0 auto;
}

input {
    display: block;
    background-color: #D7D1C9;
    border: none;
    font-size: 16px;
    margin:  30px auto 25px;
    width: 340px;
    border-radius: 20px;
    padding: 20px;
}

#submit {
    width: 240px;
    padding: 15px;
    text-align: center;
}

#submit:hover {
    background-color: #5D454B;
    color: #D7D1C9;
}

#button {
    display: block;
    /*background-color: #D7D1C9;*/
    border: none;
    font-size: 16px;
    margin: 20px auto;
    width: 210px;
    padding: 10px 0px 5px;
   position: relative;
}

#button:after{
    position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .2s;
}

#button:hover::after{
    /*background-color: #5D454B;*/
    transform: scale(1, 1);
    color: #D7D1C9;
}


/* 数字 */
h1{
    margin: auto;
    
    /* 文字の太さ */
    font-weight: 100;
    
    /* 文字を中央寄せ */
    text-align: center;
    
    /* 横幅 */
    width: 200px;
    
    /* 縦幅 */
    /*height: 100px;*/
    /*line-height: 100px;*/
    
    /* 枠の太さ 線の種類 色 */
    border: 1px solid #009688;
    
    /* 枠を丸くする */
    border-radius: 25%;
    
    font-size: 52px;
}
/*タイトル画像*/
.title{
    width:50%;
    float:left;
    margin:20px;
}
.mojip {
    text-align: right;
    font-size:20px;
    margin:20px;
    color:#5D454B;
}
.title img{
    display:block;
    width:40%;
}
.chairo{
    background-color:#5D454B;
    border-radius:10px;
    width:50%;
    overflow:hidden;
    margin:20px;
}
.chairo p{
    color:#ffffff;
    padding:10px;
    margin:10px;
    font-size:20px;
    
}
.board{
     background-color:#D8B384;
     width:50%;
     border-radius:20px;
     float:right;
     margin:20px;
     margin-right:0px;
     padding:20px;
      box-shadow: 15px 15px 0px 0 #5D454B;
      min-width :500px;
      max-width:700px;
}
@media screen and (max-width: 1086px) {
    .board{
        overflow:hidden;
    }
}
.piki{
    float:left;
    width:40%;
}
.piki img{
display:block;
width:50%;
margin:0 auto;
}

/*ボタン通常時*/
button{
    padding:5px;
    float:right;
    
    
}
button {
font-size: 18px;
display: inline-block;
padding: 0.4em 1em 0.2em;
color: #5D454B;
border: #5D454B dashed 1px;
box-shadow: 0 0 0 0.2em #ffffff;
border-radius: 2.5px;
background-color: #ffffff;
cursor: pointer;
}
button a{
    text-decoration: none;
}
.logout{
    float:right;
    padding:50px;
    padding-top:10px;
    width:100%;
    padding-right:0;
}

.logout input {
    float:right;
    font-size: 18px;
display: inline-block;
padding: 0.4em 1em 0.2em;

border: #5D454B dashed 1px;
border-radius: 2.5px;
box-shadow: 0 0 0 0.2em #ffffff;
background-color: #ffffff;
cursor: pointer;
margin:50px;
margin-top:4%;
margin-right:0;
}
.board input{
     font-size: 18px;
display: inline-block;
padding: 0.4em 1em 0.2em;

border: #5D454B dashed 1px;
border-radius: 2.5px;
box-shadow: 0 0 0 0.2em #ffffff;
background-color: #ffffff;
cursor: pointer;
margin:10px;
}

/*ホバー*/
.logout input:hover{
   


border: #5D454B dashed 1px;
border-radius: 2.5px;

background-color: #EAC43D;
cursor: pointer;
margin:50px;
margin-right:0;
transition: background-color 0.5s;
margin-top:4%;
}
.board input:hover{

border: #5D454B dashed 1px;

background-color: #EAC43D;
cursor: pointer;
transition: background-color 0.5s;


}
button:hover{

border: #5D454B dashed 1px;

background-color: #EAC43D;
cursor: pointer;
transition: background-color 0.5s;

}

/*フッター*/

footer p{
    color:#ffffff;
    padding-right:5%;
}
footer{
    background-color:#5D454B;
    
    font-size:30px;
    overflow:hidden;
    width:100%;
    text-align:right;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
