*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    /* 全体の横幅 */
    width: 1024px;
    /* 全体を中央寄せ */
    margin: 0 auto;
    /* 全体の余白 */
    padding: 10px;
    background-image: url(../../images/background.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}

.form {
    /*width: 480px;*/
    margin: 0 auto;
}

input {
    background-color: #D7D1C9;
    border: none;
    font-size: 16px;
    margin: 10px;
    width: 340px;
    height: 60px;
    border-radius: 20px;
    padding: 20px;
}

.btn {
    background-color: #D7D1C9;
    border: none;
    font-size: 16px;
    margin: 40px;
    width: 340px;
    height: 60px;
    border-radius: 20px;
    padding: 20px;
}

/* 数字 */
h1{
    margin: auto;
    
    /* 文字の太さ */
    font-weight: 100;
    
    /* 文字を中央寄せ */
    text-align: center;
    
    /* 横幅 */
    width: 200px;
    
    /* 縦幅 */
    height: 100px;
    line-height: 100px;
    
    /* 枠の太さ 線の種類 色 */
    border: 1px solid #009688;
    
    /* 枠を丸くする */
    border-radius: 25%;
    
    font-size: 52px;
}
/*タイトル画像*/
.title{
    width:800px;
}
.title img{
    display:block;
    width:300px;
}

