.base {
    width: 100%;
    margin: 0 auto;
}

.form {
    width: 360px;
    margin: 180px auto 0;

}

.startbtn {
    margin-top: 16px;
}

input {
    background-color: #D7D1C9;
    border: none;
    font-size: 16px;
    margin: 10px;
    width: 340px;
    height: 60px;
    border-radius: 20px;
    padding: 20px;
}

#start {
    width: 240px ;
    margin: 40px 60px;
}

#start:hover {
    background-color: #5D454B;
    color: #D7D1C9;
}

